*,
html {
    margin: 0;
    padding: 0;
}
/* navbar */
.div-class {
    background-color: rgba(154, 203, 149, 0.373);
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
 .ul-navbar {
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-navbar {
    width: 100px;
    left: 50%;
    list-style-type: none;
    padding: 10px;
    margin: 5vh;
    font-size: 20px;
    color: rgb(0, 0, 0) ;
}
/* .li-navbar:hover {
    background-color:rgb(189, 31, 84);
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
 } */

.button-navbar {
    font-size: 18px;
    color: #000000;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .button-navbar:focus,
  .button-navbar:hover {
    color: #080808;
  }
  
  .button-navbar:focus:after,
  .button-navbar:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button-navbar:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


.img1 {
    position: relative; 
    width: 500px; 
    height: 100px;
}
.foto {
    position: absolute; 
  top: 0; 
  left: 0;
}
.a-navbar {
    color:black;
    text-decoration: none;
    font-weight: 800;
}

/* coba2button */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */



.carousel {
    width: 50%;
    max-width: 500px;
    overflow: hidden;
    /* border: 2px solid #ddd; */
    border-radius: 10px;
}
.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    /* border: 2px solid #ddd; */
    border-radius: 10px;
    position: fixed;
    bottom: 300px; /* Mengatur jarak dari bawah */
    right: 100px; /* Mengatur jarak dari kanan */
    
}



.slides {
    display: flex;
    transition: transform 5s ease-in-out;
    animation: slide 25s infinite;
}

.slide {
    min-width: 100%;
    transition: 2s;
}

.slide img {
    width: 100%;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}

.isi1 {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 10px; /* Margin atas-bawah 50px, kiri-kanan 20px */
    padding: 150px; /* Padding 20px di semua sisi */
    font-size: x-large;
}

/* button wa */
.button1-wa{
    position: absolute;
    top: 60%; /* 50% dari tinggi kontainer */
    left: 12%; /* 50% dari lebar kontainer */
    transform: translate(-50%, -50%); /* Memindahkan titik tengah tombol ke tengah kontainer */
}

.button-wa {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 3em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
  }
  
  .button-wa p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
  }
  
  .button-wa svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  .button-wa:hover p {
    left: 0.5em;
    color: #fff
  }
  
  .button-wa:hover svg {
    opacity: 1;
  }
  
  .button-wa:hover {
    background-color: #25D366;
  }

  /* button lihat jenis mobil */
  .button-jenis-mobil{
    position: absolute;
    top: 60%; /* 50% dari tinggi kontainer */
    left: 30%; /* 50% dari lebar kontainer */
    transform: translate(-50%, -50%); /* Memindahkan titik tengah tombol ke tengah kontainer */
  }
  .lihat-jenis-mobil {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .lihat-jenis-mobil {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .lihat-jenis-mobil p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
  .lihat-jenis-mobil::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .lihat-jenis-mobil p::before {
    position:absolute;
    /*   box-sizing: border-box; */
    /* content: "Lihat Jenis Mobil";  */
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .lihat-jenis-mobil:hover::after {
    width: 100%;
  }
  
  .lihat-jenis-mobil:hover p::before {
    width: 100%;
  }
  
  .lihat-jenis-mobil:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
  
  .lihat-jenis-mobil svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

  